# Virtual environment
.venv/
venv/

# Datasets
dataset_all/
split_dataset/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/